@import "../../../styles/variables";

.table-container {
  margin: $default-padding;
  margin-top: 3.5rem;
}

.branch-name {
  font-weight: bold;
}

.column-header {
  font-weight: 100;
}

.circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.red {
  background-color: tomato;
}

.green {
  background-color: limegreen;
}
