<app-top-nav></app-top-nav>
<div class="title-container">
  <app-title [title]="title" [subtitle]="subtitle"></app-title>
  <mat-form-field class="search" appearance="outline">
    <mat-label>Pesquisar...</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Search">
  </mat-form-field>
</div>

<div class="table-container mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef class="column-header" mat-sort-header> Nome </th>
      <td mat-cell *matCellDef="let element" class="branch-name"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="business">
      <th mat-header-cell *matHeaderCellDef class="column-header"> Business </th>
      <td mat-cell *matCellDef="let element"> {{element.business}} </td>
    </ng-container>

    <ng-container matColumnDef="valuation">
      <th mat-header-cell *matHeaderCellDef class="column-header" mat-sort-header> Valuation </th>
      <td mat-cell *matCellDef="let element"> {{element.valuation | currency:'BRL':'symbol':'1.2-2':'pt-BR'}} </td>
    </ng-container>

    <ng-container matColumnDef="active">
      <th mat-header-cell *matHeaderCellDef class="column-header" mat-sort-header> Situação </th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="element.active; else inactive">
          <div class="green circle"></div>
        </ng-container>
      </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef class="column-header"> Ação </th>
      <td mat-cell *matCellDef="let element" class="action" (click)="goToBranchDetails(element.id)"> <span
          class="material-icons">
          visibility
        </span> </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef class="column-header"> Remover </th>
      <td mat-cell *matCellDef="let element" class="action delete"
        (click)="openConfirmDialog(confirmDialog, element.name, element.id)">
        <span>&#10005;
        </span>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
</div>

<button mat-raised-button class="itau-button standard-button new-button" (click)="createNewBranch()">Novo Polo</button>

<ng-template #confirmDialog>
  <h1 mat-dialog-title>Confirmar exclusão:</h1>
  <div mat-dialog-content>
    <p>Tem certeza que deseja excluir este Polo?</p>
  </div>
  <div mat-dialog-actions>
    <button mat-button class="itau-button back-button cancel-button" (click)="dialogRef.close(false)">Cancelar</button>
    <button mat-button class="itau-button standard-button" (click)="dialogRef.close(true)">Sim</button>
  </div>
</ng-template>

<ng-template #inactive>
  <div class="red circle"></div>
</ng-template>