@import "../../../styles/variables";

.title-container {
  display: flex;
  justify-content: space-between;
  margin-right: $default-padding;
  margin-bottom: 4rem;
  .search {
    margin-top: 3.5rem;
    width: 45rem !important;
  }
}

.table-container {
  margin: $default-padding;
  margin-top: 3.5rem;
}

.branch-name {
  font-weight: bold;
}

.column-header {
  font-weight: 100;
}

.circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.red {
  background-color: tomato;
}

.green {
  background-color: limegreen;
}

.action {
  cursor: pointer;
}

.new-button {
  margin-left: $default-padding;
  margin-top: -25rem;
}

.cancel-button {
  margin-right: 1.5rem;
}

.delete {
  color: tomato;
  font-weight: bold;
}
