<form [formGroup]="cepForm">
  <mat-form-field appearance="outline">
    <mat-label>CEP</mat-label>
    <input matInput formControlName="cep" placeholder="Enter CEP" mask="00000-000" />
    <mat-error
      *ngIf="cepForm.get('cep')?.hasError('required') && (cepForm.get('cep')?.touched || cepForm.get('cep')?.dirty)">
      Campo obrigatório
    </mat-error>
    <mat-error
      *ngIf="(cepForm.get('cep')?.hasError('minlength') || cepForm.get('cep')?.hasError('maxlength')) && (cepForm.get('cep')?.touched || cepForm.get('cep')?.dirty)">
      O CEP deve ter 8 dígitos
    </mat-error>
  </mat-form-field>
</form>