@import "../../../styles/variables";

form {
  margin-right: $default-padding;
  margin-left: $default-padding;
}

.form-title {
  font-size: 16px;
  font-weight: 500;
}

.street-name {
  width: 60rem;
}

.buttons {
  margin-top: 3rem;
}
