<app-top-nav></app-top-nav>

<app-title [title]="title" [subtitle]="subtitle"></app-title>

<form *ngIf="branchDetailsForm" [formGroup]="branchDetailsForm" (ngSubmit)="onSubmit()">

  <p class="form-title">Detalhes do Endereço</p>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>CEP</mat-label>
      <input mask="00000-000" matInput formControlName="cep">
    </mat-form-field>

    <mat-form-field appearance="outline" class="street-name">
      <mat-label>Nome da Rua</mat-label>
      <input matInput formControlName="street">
      <mat-error *ngIf="branchDetailsForm.get('street')!.hasError('required')">Campo obrigatório</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Bairro</mat-label>
      <input matInput formControlName="neighborhood">
      <mat-error *ngIf="branchDetailsForm.get('neighborhood')!.hasError('required')">Campo obrigatório</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Cidade</mat-label>
      <input matInput formControlName="city">
      <mat-error *ngIf="branchDetailsForm.get('city')!.hasError('required')">Campo obrigatório</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Estado</mat-label>
      <input matInput formControlName="state">
      <mat-error *ngIf="branchDetailsForm.get('state')!.hasError('required')">Campo obrigatório</mat-error>
    </mat-form-field>
  </div>

  <p class="form-title">Detalhes da Empresa"</p>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Nome</mat-label>
      <input matInput formControlName="name">
      <mat-error *ngIf="branchDetailsForm.get('name')!.hasError('required')">Campo obrigatório</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Business</mat-label>
      <input matInput formControlName="business">
      <mat-error *ngIf="branchDetailsForm.get('business')!.hasError('required')">Campo obrigatório</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Valuation</mat-label>
      <input matInput mask="separator.2" thousandSeparator="." decimalMarker="," prefix="R$ "
        formControlName="valuation">
      <mat-error *ngIf="branchDetailsForm.get('valuation')!.hasError('required')">Campo obrigatório</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>CNPJ</mat-label>
      <input matInput mask="00.000.000/0000-00" formControlName="cnpj">
      <mat-error *ngIf="branchDetailsForm.get('cnpj')!.hasError('required')">Campo obrigatório</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Ativo?</mat-label>
      <mat-select formControlName="active">
        <mat-option [value]="true">Sim</mat-option>
        <mat-option [value]="false">Não</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="buttons">
    <button mat-raised-button class="back-button" (click)="goBack()">Voltar</button>
    <button mat-raised-button class="standard-button" type="submit">Salvar</button>
  </div>
</form>