@import "../../../styles/variables";

form {
  margin: $default-padding;
}

.form-title {
  font-size: 16px;
  font-weight: 500;
}

mat-form-field {
  margin-right: 2rem;
  color: #000;
}

mat-label {
  font-size: 16px !important;
  color: #2a2a2a !important;
}

.street-name {
  width: 60rem;
}

.buttons {
  margin-top: 3rem;

  .back-button {
    color: #fff !important;
    background-color: #989898 !important;
    font-size: 16px;
    padding: 2.2rem;
  }
}
