@import "../../../styles/variables.scss";
.top-nav {
  background-color: #ffe0cc;
  border-bottom: 0.3rem solid #ff7b24;
  padding-right: $default-padding;
  padding-left: $default-padding;
  height: 12rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  font-size: 16px;
  .language {
    flex: 1;
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
  }
  .divider {
    width: 0.1rem;
    height: 100%;
    background-color: #000;
    margin: 0 2.5rem;
  }
  .user {
    display: flex;
    align-items: center;

    .circle {
      width: 4rem;
      height: 4rem;
      background-color: #000;
      border-radius: 50%;
    }
    .user-container {
      margin-left: 1.25rem;
      .user-name {
        font-weight: 700;
      }
      .user-role {
        font-weight: 100;
      }
      p {
        margin: 0;
      }
    }
  }
  .caret-down {
    margin-left: 1.25rem;
  }
}
