/* You can add global styles to this file, and also import other style files */
@import "./styles/variables";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
  height: 100%;
  font-size: 10px;
  font-family: "Calibri", sans-serif;
}
body {
  margin: 0;
}

.itau-button {
  padding: 2.2rem !important;
  font-size: 16px;
  color: #fff !important;
}

.standard-button {
  width: 15rem;
  background-color: #fa8341 !important;
  margin-left: 2rem;
}

.back-button {
  background-color: #989898 !important;
}

mat-form-field {
  margin-right: 2rem;
  color: #000;
}

mat-label {
  font-size: 16px !important;
  color: #2a2a2a !important;
}
