/* You can add global styles to this file, and also import other style files */
@import "./styles/variables";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
  height: 100%;
  font-size: 10px;
  font-family: "Roboto", sans-serif;
}
body {
  margin: 0;
}

.standard-button {
  padding: 2.2rem !important;
  width: 15rem;
  background-color: #fa8341 !important;
  margin-left: 2rem;
  color: #fff !important;
  font-size: 16px;
}
